
.hmm{
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  width:100%;
}
/*  ::placeholder{
    text-align: center;
    color: deeppink;
    text-transform: uppercase;
  }
*/
  .blink{
        animation:fade 500ms infinite;
        -webkit-animation:fade 500ms infinite;
  }

  @keyframes fade {
      from { opacity: 1.0; }
      50% { opacity: 0.4; }
      to { opacity: 1.0; }
  }
  @-webkit-keyframes fade {
      from { opacity: 1.0; }
      50% { opacity: 0.4; }
      to { opacity: 1.0; }
  }

  .no-pointer{
    pointer-events:none;
  }

  .animate {
    position: relative;
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 1s
  }
  @-webkit-keyframes animate {
    from { top:-100px; opacity:0 }
    to { top:0px; opacity:1 }
  }
  @keyframes animate {
    from{ top:-100px; opacity:0 }
    to{ top:0; opacity:1 }
  }

  .animate2 {
    position: relative;
    -webkit-animation-name: animate2;
    -webkit-animation-duration: 1s;
    animation-name: animate2;
    animation-duration: 1s
  }
  @-webkit-keyframes animate2 {
    from { left:-100px; opacity:0 }
    to { left:0px; opacity:1 }
  }
  @keyframes animate2 {
    from{ left:-100px; opacity:0 }
    to{ left:0; opacity:1 }
  }
.login{
  color: #fffffe;
  padding:10px 40px;
  margin: 50px 0px;
}
.login a:hover{
  text-decoration: none;
  color: rgb(255, 0, 125);
}
.brand{
  text-align: center;
}
.footer{
  color: #fff;
}
.jumbotron{
  color: #000;
}
img .brand{
  width: 180px;
  height: 70px;
}
#services{
  background-color: #E2C499;
}
